* {
    margin : 0 ;
    padding: 0;
    box-sizing:content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: goldenrod;
    color :whitesmoke;
}

header nav{
    background-color: black;
    padding: 30px;
    display: block;
    justify-content:center;
    align-items: flex-start;
    z-index: 1  ;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border:0 ;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
header nav h1{
    font-size: 40px;
    font-weight: 600;
    initial-letter-align: 3;
    text-decoration: double;
    text-shadow: 0cqb;
    text-transform: uppercase;
}
header nav form{
    display:inline-flex;
    justify-content: center;
}
form input[type="text"], button
[type="submit"]{
    border: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
}
form button
[type="submit"]{
    background-color: red ;
    color: azure;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
form button[type="submit"]:hover,
 .recipe button:hover{
    background-color: brown;
}


.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin:10px auto;
    padding: 20px ;
    place-items: center;
}
.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: orangered;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34 ,0.5);
    cursor: pointer;
    max-width: 350px;
}
 .recipe img{
    height: 300px;
 }   
 .recipe h3{
    font-size: 24px;
    margin-block: 5px                   ;
 }
 .recipe p{
    font-size: 20px;
    color: rgb(255, 136, 0);
 }
.recipe span{
    font-weight: 600;
}
.recipe-details{
   display: none;
}
.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    background-color: brown;
    color: #fff;
}
@media screen  and (max-width:800px){
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    
    }
}